{% extends 'base.html.twig' %}

{% block title %}FilterList index{% endblock %}

{% block body %}
    <h1>FilterList index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filter_list in filter_lists %}
            <tr>
                <td>{{ filter_list.id }}</td>
                <td>{{ filter_list.filter }}</td>
                <td>
                    <a href="{{ path('filter_list_show', {'id': filter_list.id}) }}">show</a>
                    <a href="{{ path('filter_list_edit', {'id': filter_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('filter_list_new') }}">Create new</a>
{% endblock %}
